@model Role_based.Models.Training

@{
    ViewBag.Title = "Details";
}

<h2>Training Domain</h2>

<div>
    <h4>Training</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DomainID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
