@model Role_based.Models.Trainee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Trainee?</h3>
<div>
    <h4>Trainee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tcity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tcity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Training.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Training.Domain)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
